---
export interface Props {
  tags: string[];
  class?: string; // Add optional class prop
}

const { tags = [], class: className = "" } = Astro.props;
const base = import.meta.env.BASE_URL;
---

{
  tags.length > 0 && (
    <div class={`mt-3 flex flex-wrap gap-2 ${className}`}>
      {tags.map((tag) => (
        <a
          href={`${base}tags/${tag}`}
          class="inline-flex items-center rounded-full bg-zinc-200/50 px-2.5 py-0.5 text-xs font-normal text-zinc-800 no-underline hover:bg-zinc-200 dark:bg-zinc-700 dark:text-zinc-100 dark:hover:bg-zinc-600"
        >
          {tag}
        </a>
      ))}
    </div>
  )
}
